{% load clickandrent_extras %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Akshar&family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body style="font-family: 'Roboto', sans-serif;">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #A9DFBF;">
            <div class="container-fluid">
              <a class="navbar-brand" href="/" style="font-family: 'Akshar', sans-serif; font-size: 20px"><b>Click & Rent</b></a>
              <div id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                </ul>
                {% if not request.user.is_authenticated %}
                <form class="d-flex">
                  <a href="/signup" class="btn btn-outline-secondary" type="submit" style="font-size: 16px;">Sign Up</a>
                  <div style="margin: 5px;"></div>
                  <a href="/login" class="btn btn-outline-primary" type="submit" style="font-size: 16px;">Login</a>
                </form>
                {% endif %}
                {% if request.user.is_authenticated %}
                <form class="d-flex">
                  <a href="/profile" class="btn btn-outline-dark" type="submit" style="font-size: 16px;">Profile</a>
                  <div style="margin: 5px;"></div>  
                  <a href="/logout" class="btn btn-outline-danger" type="submit" style="font-size: 16px;">Logout</a>
                </form>
                {% endif %}
              </div>
            </div>
          </nav>
        <div class="container">

          <nav class="navbar bg-light">
            <div class="container-fluid">
              <form class="d-flex d-inline w-100" method="post" action="/search">
                {% csrf_token %}
                <input class="form-control me-4" type="text" placeholder="Search" aria-label="Search" id="search" name="search">
                
                <select class="custom-select" id="location" name="location">
                  <option selected value="City...">City...</option>
                  <option value="Adana">Adana</option>
                  <option value="Adıyaman">Adıyaman</option>
                  <option value="Afyon">Afyon</option>
                  <option value="Ağrı">Ağrı</option>
                  <option value="Aksaray">Aksaray</option>
                  <option value="Amasya">Amasya</option>
                  <option value="Ankara">Ankara</option>
                  <option value="Antalya">Antalya</option>
                  <option value="Ardahan">Ardahan</option>
                  <option value="Artvin">Artvin</option>
                  <option value="Aydın">Aydın</option>
                  <option value="Balıkesir">Balıkesir</option>
                  <option value="Bartın">Bartın</option>
                  <option value="Batman">Batman</option>
                  <option value="Bayburt">Bayburt</option>
                  <option value="Bilecik">Bilecik</option>
                  <option value="Bingöl">Bingöl</option>
                  <option value="Bitlis">Bitlis</option>
                  <option value="Bolu">Bolu</option>
                  <option value="Burdur">Burdur</option>
                  <option value="Bursa">Bursa</option>
                  <option value="Çanakkale">Çanakkale</option>
                  <option value="Çankırı">Çankırı</option>
                  <option value="Çorum">Çorum</option>
                  <option value="Denizli">Denizli</option>
                  <option value="Diyarbakır">Diyarbakır</option>
                  <option value="Düzce">Düzce</option>
                  <option value="Edirne">Edirne</option>
                  <option value="Elazığ">Elazığ</option>
                  <option value="Erzincan">Erzincan</option>
                  <option value="Erzurum">Erzurum</option>
                  <option value="Eskişehir">Eskişehir</option>
                  <option value="Gaziantep">Gaziantep</option>
                  <option value="Giresun">Giresun</option>
                  <option value="Gümüşhane">Gümüşhane</option>
                  <option value="Hakkari">Hakkari</option>
                  <option value="Hatay">Hatay</option>
                  <option value="Iğdır">Iğdır</option>
                  <option value="Isparta">Isparta</option>
                  <option value="İstanbul">İstanbul</option>
                  <option value="İzmir">İzmir</option>
                  <option value="Kahramanmaraş">Kahramanmaraş</option>
                  <option value="Karabük">Karabük</option>
                  <option value="Karaman">Karaman</option>
                  <option value="Kars">Kars</option>
                  <option value="Kastamonu">Kastamonu</option>
                  <option value="Kayseri">Kayseri</option>
                  <option value="Kilis">Kilis</option>
                  <option value="Kırıkkale">Kırıkkale</option>
                  <option value="Kırklareli">Kırklareli</option>
                  <option value="Kırşehir">Kırşehir</option>
                  <option value="Kocaeli">Kocaeli</option>
                  <option value="Konya">Konya</option>
                  <option value="Kütahya">Kütahya</option>
                  <option value="Malatya">Malatya</option>
                  <option value="Manisa">Manisa</option>
                  <option value="Mardin">Mardin</option>
                  <option value="Mersin">Mersin</option>
                  <option value="Muğla">Muğla</option>
                  <option value="Muş">Muş</option>
                  <option value="Nevşehir">Nevşehir</option>
                  <option value="Niğde">Niğde</option>
                  <option value="Ordu">Ordu</option>
                  <option value="Osmaniye">Osmaniye</option>
                  <option value="Rize">Rize</option>
                  <option value="Sakarya">Sakarya</option>
                  <option value="Samsun">Samsun</option>
                  <option value="Şanlıurfa">Şanlıurfa</option>
                  <option value="Siirt">Siirt</option>
                  <option value="Sinop">Sinop</option>
                  <option value="Şırnak">Şırnak</option>
                  <option value="Sivas">Sivas</option>
                  <option value="Tekirdağ">Tekirdağ</option>
                  <option value="Tokat">Tokat</option>
                  <option value="Trabzon">Trabzon</option>
                  <option value="Tunceli">Tunceli</option>
                  <option value="Uşak">Uşak</option>
                  <option value="Van">Van</option>
                  <option value="Yalova">Yalova</option>
                  <option value="Yozgat">Yozgat</option>
                  <option value="Zonguldak">Zonguldak</option>
                </select>
                <div style="padding-left: 1%; padding-right: 1%;"></div>
                <select class="custom-select" id="category" name="category">
                  <option selected>Category...</option>
                  <option value="Real Estate">Real Estate</option>
                  <option value="Vehicle">Vehicle</option>
                  <option value="Computer">Computer</option>
                  <option value="Home Appliance">Home Appliance</option>
                  <option value="Book">Book</option>
                  <option value="Musical Instrument">Musical Instrument</option>
                  <option value="Other">Other</option>
                </select>
                <div style="padding-left: 1%; padding-right: 1%;"></div>
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav>

            <figure class="text-center">
                <blockquote class="blockquote">

                  <div class="container" style="width: 50%; height: 100%">
                    <div style="text-align: center; font-family: 'Akshar', sans-serif; font-size: 24px; padding-top: 3%;">Most Recent Ads</div>
                    {% for ad in data %}
                    <div class="row" onclick="location.href='adverts/{{ad|mongo_id}}'; "style="cursor: pointer; border: solid 2px black; border-radius: 5px; margin: 2%;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                      <div class="col" style=" border: solid 1px black; margin: 0.5%; border-radius: 3px; max-width: 30%; display: inline-flex; flex-direction: column; align-items: center; justify-content: center; font-size: 12px; height: auto;">
                        <img src="data:image/png;base64,{{ad.photo}}" style="max-height:100px; max-width:100%;">
                      </div>
                      <div class="col" style="border: solid 1px black; margin: 0.5%; border-radius: 3px; max-width: 70%; display: inline-flex; flex-direction: column; align-items: center; justify-content: center; font-size: 12px;">
                        <p><b style="font-size: 14px; margin-block-end: 0em;">{{ad.title}}</b></p>
                        <p style="font-size: 12px; margin-bottom: 0;">+90{{ad.phone}}</p>
                        <p style="font-size: 12px; margin-bottom: 0;">{{ad.name}} {{ad.last_name}}</p>
                        <p style="font-size: 12px; margin-bottom: 0;">{{ad.category}}</p>
                        <p style="font-size: 12px; margin-bottom: 0;">${{ad.fee}}</p>
                      </div>
                    </div>
                    {% endfor %}
                    
                  </div>

                </blockquote>
              </figure>
        </div>
    </body>
</html>